:root {
	--calculator: #052650;
	--body-calc-display: #ecf0f5;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
	display: flex;
	justify-content: center;
	background-color: var(--body-calc-display);
	min-height: 100vh;
}

.container {
	padding: 0 3vw;
}

.title, .footer {
	text-align: center;
}

.title {
	margin: 25px  0;
}

.history, .inputs {
	background-color: var(--body-calc-display);
	text-align: right;
	margin: 0;
	padding: 0 4px;
}

.history {
	height: 25px;
	grid-area: history;
}

.inputs {
	grid-area: inputs;
	height: 35px;
	font-size: 30px;
}

 #zero {
	 grid-area: zero;
}
 #one {
	 grid-area: one;
}
 #two {
	 grid-area: two;
}
 #three {
	 grid-area: three;
}
 #four {
	 grid-area: four;
}
 #five {
	 grid-area: five;
}
 #six {
	 grid-area: six;
}
 #seven {
	 grid-area: seven;
}
 #eight {
	 grid-area: eight;
}
 #nine {
	 grid-area: nine;
}
 #add {
	 grid-area: add;
}
 #subtract {
	 grid-area: subtract;
}
 #multiply {
	 grid-area: multiply;
}
 #divide {
	 grid-area: divide;
}
 #decimal {
	 grid-area: decimal;
}
 #equals {
	 grid-area: equals;
}
#exponent {
	grid-area: exponent;
}

#delete {
	grid-area: delete;
}

#plusMinus {
	grid-area: plusMinus;
}

#clear {
	 grid-area: clear;
}

.user-interface {
	background-color: var(--calculator);
	padding: 5px;
	border:  5px solid var(--calculator);
	border-radius: 8px;
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	grid-template-areas: "history history history history"
	"inputs inputs inputs inputs"
	"clear delete exponent divide" 
	"seven eight nine multiply" 
	"four five six subtract" 
	"one two three add" 
	"plusMinus zero decimal equals";
	font-family: 'Orbitron', sans-serif;
}

button {
	 background-color: #ced3fe;
	 border: 1px solid var(--calculator);
	 padding: 20px;
	 font-size: 24px;
	 font-family: inherit;
}

button:hover {
	 background-color: #e3e6ff;
	 border: 1px solid #1265ce;
}
#equal {
	 background-color: #fe768a;
}
 #equal:hover {
	 background-color: #ffa3b1;
}
 #add, #subtract, #divide, #multiply {
	 background-color: #70c64c;
}
 #add:hover, #subtract:hover, #divide:hover, #multiply:hover {
	 background-color: #b4ff95;
}
 #clear {
	 background-color: #ddd5df;
}
 #clear:hover {
	 background-color: #f7eef9;
}